.head{
  display: flex;
  flex-direction: row;
  height: 44px;
  padding-top: 6px;
  
  margin-bottom: 30px;
  justify-content: space-between;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index:100;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(216, 192, 192);
}
.left-section{
  width: 136px;
  display: flex;
  justify-content: space-between;
  align-items: centre;
  margin-left: 20px;
  margin-right: 28px;
}
.ham{
  width: 22px;
}
.logo{
  width: 90px;
}

.center-section{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 18px;
  max-width:500px;
}
.searchbox{
  width: 5px;
  flex: 1;
  height: 35px;
  
  border-style: solid;
  border-color: rgb(192, 188, 188);
  border-radius: 2px;
  padding-left: 10px;
  font-size: 16px;
}
.searchbox::placeholder{
  font-size: 16px;
  
}
.search-button-container,
.voice-container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.search-button-container .tooltip,
.voice-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 10px 8px;
  font-size: 12px;
  bottom: -46px;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
}
.search-button-container:hover .tooltip,
.voice-container:hover .tooltip{
  opacity: 1;
  
}
.search-button{
  margin-left: -5px;
  width: 70px;
  height: 41px;
  border-style: solid;
  border-color: rgb(192, 188, 188);
  box-shadow: inset;
  cursor: pointer;
}
.search{
  height: 26px;
  padding-top: 4px;
}
.voice-button{
  width:36px;
  height: 40px;
  border-radius: 18px;
  border: none;
  background-color: rgb(236, 229, 229);
  margin-left: 12px;
  cursor: pointer;
}


.right-section{
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 14px;
}
.apps-container,
.upload-container,
.not{
  flex: 1;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.apps-container .tooltip,
.upload-container .tooltip,
.not .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 10px 8px;
  font-size: 12px;
  bottom: -46px;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
}
.apps-container:hover .tooltip,
.upload-container:hover .tooltip,
.not:hover .tooltip{
  opacity: 1;
}
.upload{
  flex: 1;
  height: 24px;
}
.apps{
  flex: 1;
  height: 24px;
}

.notif-num{
  position: relative;
  
}
.notif{
  flex: 1;
  height: 24px;
}
.num{
  background-color: rgb(207, 21, 21);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top:-2px;
  right:-5px;
}
.channel{
  flex: 1;
  height: 32px;
  object-fit: contain;
  border-radius: 16px;
  cursor: pointer;
}